server:
  port: 8181
  servlet:
    context-path: /loja
       
---
spring:
  profiles:    active:    - prod
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://ec2-54-145-188-92.compute-1.amazonaws.com:5432/deqg616f5dk8gp
    username: cauhztndhybkjd
    password: 604479f6f05d9d2e9eb3dc5b73a26999dc724fa5bad4a180d79fe1c1187fa97a
  jpa:
    show-sql: true    hibernate:      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect  
    generate-ddl: false        defer-datasource-initialization: true  devtools:    add-properties: false  autoconfigure:    exclude:    - true
    
server:  error:    include-message: always
    include-binding-errors: always
    include-stacktrace: on-param
    include-exception: true
 
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:5000}/eureka/  instance:    hostname: ${DOMAIN_NAME}
    nonSecurePort: 80
